<!-- Ahdy Emad-Eldeen Mohammed (Software Engineering) -->
<!-- Listing PDFs page -->
<!--
@modified 2024-07-18 by Mohamed Alkhatim
@brief    Applied mvc architecture
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Library</title>
    <link rel="stylesheet" href="styling/styles.css">
    <script src="../controllers/controller.js"></script>
</head>

<body>
    <div class="container">
        <div style="margin-left: 310px; display: justify;" class="button-container">
            <button onclick="document.location='../../index.html'">Home</button>
            <button onclick="document.location='ai.html'">AI Assistant</button>
        </div>

        <!-- List of uploaded PDFs -->
        <h2>Available PDFs</h2>
        <ul id="pdfList">
            <!-- PDFs will be listed dynamically here -->
        </ul>

    </div>


</body>

</html>